# The crontab
# Don't edit below this line unless you know what you are doing
* * * * * root /usr/bin/lwp-request -m GET -d http://apache/cron/minute/
*/5 * * * * root /usr/bin/lwp-request -m GET -d http://apache/cron/fiveminute/
15,30,45,59 * * * * root /usr/bin/lwp-request -m GET -d http://apache/cron/fifteenmin/
30,59 * * * * root /usr/bin/lwp-request -m GET -d http://apache/cron/halfhour/
@hourly root /usr/bin/lwp-request -m GET -d http://apache/cron/hourly/
@daily root /usr/bin/lwp-request -m GET -d http://apache/cron/daily/
@weekly root /usr/bin/lwp-request -m GET -d http://apache/cron/weekly/
@monthly root /usr/bin/lwp-request -m GET -d http://apache/cron/monthly/
@yearly root /usr/bin/lwp-request -m GET -d http://apache/cron/yearly/
# reboot is deprecated and probably doesn't work
@reboot root /usr/bin/lwp-request -m GET -d http://apache/cron/reboot/

# An empty line is required at the end of this file for a valid cron file.